<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.eagle.modules.account.mapper.AccountMapper">

    <select id="selectOneByUsername" resultType="in.hocg.eagle.modules.account.entity.Account">
        SELECT ta.* FROM t_account ta
        <where>
            ta.username = #{username}
        </where>
    </select>
    <select id="search" resultType="in.hocg.eagle.modules.account.entity.Account">
        SELECT * FROM t_account ta
        <where>
            <if test="qo.keyword != null ">
                <bind name="keyword" value="'%'+qo.keyword+'%'"/>
                AND (ta.nickname LIKE #{keyword} OR ta.username LIKE #{keyword} OR ta.phone LIKE #{keyword} OR ta.email
                LIKE #{keyword})
            </if>
        </where>
    </select>
</mapper>
