<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.eagle.modules.account.mapper.RoleMapper">

    <select id="search" resultType="in.hocg.eagle.mapstruct.vo.RoleSearchVo">
        SELECT tr.*
        FROM t_role tr
        <where>
            <if test="qo.platform != null">
                AND tr.platform = #{qo.platform}
            </if>
            <if test="qo.keyword != null">
                <bind name="keyword" value="'%'+qo.keyword+'%'"/>
                AND (tr.role_code LIKE #{keyword} OR tr.title LIKE #{keyword} OR tr.remark LIKE #{keyword})
            </if>
        </where>
    </select>
</mapper>
