<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.eagle.modules.account.mapper.RoleAuthorityMapper">

    <select id="selectListByAuthorityRegexTreePath" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM t_role_authority tra
            LEFT JOIN t_authority ta ON ta.id = tra.authority_id
        WHERE ta.tree_path REGEXP #{regexTreePath}
    </select>
</mapper>
