<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.eagle.modules.account.mapper.RoleAuthorityMapper">

    <select id="selectListByAuthorityRegexTreePath" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM t_role_authority tra
                 LEFT JOIN t_authority ta ON ta.id = tra.authority_id
        WHERE ta.tree_path REGEXP #{regexTreePath}
    </select>
    <delete id="deleteByRoleId">
        DELETE
        FROM t_role_authority
        WHERE role_id = #{roleId}
    </delete>
    <select id="selectListAuthorityByRoleIdAndEnabled"
            resultType="in.hocg.eagle.modules.account.entity.Authority">
        SELECT
        ta.*
        FROM t_role_authority tra
        LEFT JOIN t_authority ta ON ta.id = tra.authority_id
        <where>
            tra.role_id = #{roleId}
            <if test="enabled != null">
                AND ta.enabled = 1
            </if>
        </where>
    </select>
    <select id="countByRoleIdAndAuthorityId" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM t_role_authority tra
        WHERE tra.role_id = #{roleId}
          AND tra.authority_id = #{authorityId}
    </select>
    <select id="selectListAuthorityByRoleIdsAndEnabled" resultType="in.hocg.eagle.modules.account.entity.Authority">
        SELECT
        ta.*
        FROM t_role_authority tra
        LEFT JOIN t_authority ta ON ta.id = tra.authority_id
        <where>
            <if test="roleIds != null">
                <foreach collection="roleIds" item="item"
                         open="tra.role_id IN(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="enabled != null">
                AND ta.enabled = 1
            </if>
        </where>
    </select>
</mapper>
