<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.eagle.modules.ums.mapper.RoleMapper">

    <select id="search" resultType="in.hocg.eagle.modules.ums.entity.Role">
        SELECT ur.*
        FROM ums_role ur
        <where>
            <if test="qo.platform != null">
                AND ur.platform = #{qo.platform}
            </if>
            <if test="qo.keyword != null">
                <bind name="keyword" value="'%'+qo.keyword+'%'"/>
                AND (ur.role_code LIKE #{keyword} OR ur.title LIKE #{keyword} OR ur.remark LIKE #{keyword})
            </if>
        </where>
    </select>
</mapper>
