<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.eagle.modules.ums.mapper.RoleAccountMapper">

    <select id="countByRoleId" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM ums_role_account ura
        WHERE ura.role_id = #{roleId}
    </select>
    <select id="countByAccountIdAndRoleId" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM ums_role_account ura
        WHERE ura.account_id = #{accountId} AND ura.role_id = #{roleId}
    </select>
    <select id="selectListRoleByAccountIdAndEnabled" resultType="in.hocg.eagle.modules.ums.entity.Role">
        SELECT ur.* FROM ums_role_account ura
            LEFT JOIN ums_role ur ON ur.id = ura.role_id
        <where>
            <if test="accountId != null">
                AND ura.account_id = #{accountId}
            </if>
            <if test="platform != null">
                AND ur.platform = #{platform}
            </if>
            <if test="enabled != null">
                AND ur.enabled = #{enabled}
            </if>
        </where>
    </select>
    <delete id="deleteByAccountIdAndRoleId">
        DELETE FROM ums_role_account
        WHERE account_id = #{accountId} AND role_id = #{roleId}
    </delete>
</mapper>
