<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.eagle.modules.base.mapper.DataDictMapper">

    <select id="selectOneByDictIdAndCode" resultType="in.hocg.eagle.modules.base.entity.DataDictItem">
        SELECT tddi.* FROM t_data_dict tdd
            LEFT JOIN t_data_dict_item tddi ON tdd.id = tddi.dict_id
        <where>
            tdd.code = #{typeCode}
            AND tddi.code = #{itemCode}
        </where>
    </select>
</mapper>
