<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.eagle.modules.base.mapper.DataDictMapper">

    <select id="selectOneByDictIdAndCode" resultType="in.hocg.eagle.modules.base.entity.DataDictItem">
        SELECT tddi.* FROM com_data_dict tdd
        LEFT JOIN com_data_dict_item tddi ON tdd.id = tddi.dict_id
        <where>

            tdd.code = #{typeCode}
            AND tddi.code = #{itemCode}
        </where>
        LIMIT 1
    </select>
    <select id="selectListDictItemByCodeAndEnabled" resultType="in.hocg.eagle.modules.base.entity.DataDictItem">
        SELECT tddi.* FROM com_data_dict_item tddi
        LEFT JOIN com_data_dict tdd ON tdd.id = tddi.dict_id
        <where>
            tdd.code = #{typeCode}
            <if test="enabled != null">
                AND tdd.enabled = #{enabled}
                AND tddi.enabled = #{enabled}
            </if>
        </where>
        ORDER BY tddi.sort DESC, tddi.created_at DESC
    </select>
    <select id="search" resultType="in.hocg.eagle.modules.base.entity.DataDict">
        SELECT tdd.*
        FROM com_data_dict tdd
        <where>
            <if test="qo.keyword != null">
                <bind name="keyword" value="'%'+qo.keyword+'%'"/>
                AND (tdd.title LIKE #{keyword} OR tdd.remark LIKE #{keyword} OR tdd.code LIKE #{keyword})
            </if>
        </where>
    </select>
    <select id="countByCodeIgnoreId" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM com_data_dict tdd
        <where>
            AND tdd.code = #{code}
            <if test="id != null">
                AND tdd.id != #{id}
            </if>
        </where>
    </select>


</mapper>
