<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.eagle.modules.base.mapper.FileMapper">

    <select id="selectListByRelTypeAndRelIdOrderBySortDescAndCreatedAtDesc"
            resultType="in.hocg.eagle.modules.base.entity.File">
        SELECT tf.*
        FROM t_file tf
        WHERE tf.rel_type = #{relType}
          AND tf.rel_id = #{relId}
        ORDER BY tf.sort DESC, tf.created_at DESC
    </select>
    <delete id="deleteAllByRelTypeAndRelId">
        DELETE FROM t_file
        WHERE rel_type = #{relType} AND rel_id = #{relId}
    </delete>
</mapper>
