<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.eagle.modules.oms.mapper.CartItemMapper">

    <select id="paging" resultType="in.hocg.eagle.modules.oms.entity.CartItem">
      SELECT oci.* FROM oms_cart_item oci
      <where>
        <if test="qo.accountId != null">
          AND oci.account_id = #{qo.accountId}
        </if>
      </where>
    </select>
</mapper>
