<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="NICKNAME" type="java.lang.String"*/-->
<!--/*@thymesVar id="RESET_PASSWORD_URL" type="java.lang.String"*/-->
<!--/*@thymesVar id="sys" type="in.hocg.web.ext.mail.vars.SysVars"*/-->
<head>
    <meta charset="UTF-8">
    <title th:text="${sys?.title}">标题</title>
</head>
<body>
Hi <span th:text="${NICKNAME}">昵称</span>,<br/>
<br/>
我们的系统收到一个请求，说你希望通过电子邮件重新设置你在&nbsp;<span th:text="${sys?.systemName}">系统名称</span>&nbsp;的密码。你可以点击下面的链接开始重设密码：<br/>
<br/>
<a th:href="${RESET_PASSWORD_URL}" th:text="${RESET_PASSWORD_URL}">链接</a><br/>
<br/>
如果这个请求不是由你发起的，那没问题，你不用担心，你可以安全地忽略这封邮件。<br/>
<br/>
如果你有任何疑问，可以回复这封邮件向我们提问。<br/>
<br/>
<font color="#888888" th:text="${sys?.systemName}">系统名称</font><br/>
<br/>
p.s. 作为安全备注，这次密码找回请求是由 IP 地址&nbsp;<span th:text="${sys?.clientIp}">请求IP</span>&nbsp;使用浏览器&nbsp;<span th:text="${sys?.userAgent}">请求 User-Agent</span>&nbsp;在&nbsp;<span th:text="${sys?.nowTime}">当前时间</span>&nbsp;发起的<br/>
</body>
</html>
