<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.eagle.modules.pms.mapper.ProductCategoryMapper">

    <select id="search" resultType="in.hocg.eagle.modules.pms.entity.ProductCategory">
        SELECT ppc.* FROM pms_product_category ppc
        <where>
            <if test="qo.parentId != null ">
                AND ppc.parent_id = #{qo.parentId}
            </if>
        </where>
      ORDER BY ppc.sort DESC, ppc.created_at DESC
    </select>
</mapper>
