<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.eagle.modules.pms.mapper.ProductMapper">

    <select id="paging" resultType="in.hocg.eagle.modules.pms.entity.Product">
        SELECT pp.*
        FROM pms_product pp
        <where>
            pp.delete_status = 0
            <if test="qo.publishStatus != null ">
                AND pp.publish_status = #{qo.publishStatus}
            </if>
        </where>
    </select>
</mapper>
