<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.eagle.modules.wx.mapper.WxMpConfigMapper">

  <select id="paging" resultType="in.hocg.eagle.modules.wx.entity.WxMpConfig">
    SELECT *
    FROM wx_mp_config
  </select>
  <select id="selectListByEnabled" resultType="in.hocg.eagle.modules.wx.entity.WxMpConfig">
    SELECT wmc.* FROM wx_mp_config wmc
    <where>
      <if test="enabled != null">
        AND wmc.enabled = #{enabled}
      </if>
    </where>
  </select>
</mapper>
