<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.eagle.modules.wx.mapper.WxMpShortUrlMapper">

    <select id="paging" resultType="in.hocg.eagle.modules.wx.entity.WxMpShortUrl">
      SELECT wmsu.* FROM wx_mp_short_url wmsu
      <where>
        <if test="qo.appid != null">
          AND wmsu.appid = #{qo.appid}
        </if>
      </where>
    </select>
</mapper>
