<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.eagle.modules.shop.mapper.ProductMapper">

    <select id="paging" resultType="in.hocg.eagle.modules.shop.entity.Product">
        SELECT *
        FROM oms_product op
    </select>
</mapper>
