<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.eagle.modules.comment.mapper.CommentMapper">

    <select id="pagingRootCommend" resultType="in.hocg.eagle.modules.comment.entity.Comment">
        SELECT tc.* FROM t_comment tc
        <where>
            tc.target_id = #{targetId}
            AND tc.parent_id IS NULL
            <if test="enabled != null">
                AND tc.enabled = #{enabled}
            </if>
        </where>
        ORDER BY tc.created_at DESC
    </select>
    <select id="pagingByRegexTreePath" resultType="in.hocg.eagle.modules.comment.entity.Comment">
        SELECT tc.*
        FROM t_comment tc
        WHERE tc.tree_path REGEXP #{regexTreePath}
    </select>
</mapper>
