<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.eagle.modules.notify.mapper.NotificationMapper">

    <select id="search" resultType="in.hocg.eagle.modules.notify.entity.Notification">
        SELECT tn.* FROM t_notification tn
            LEFT JOIN t_notify tn2 on tn.notify_id = tn2.id
        <where>
            <if test="qo.receiverId != null">
                AND tn.receiver_id = #{qo.receiverId}
            </if>
            <!--通知类型: [私信, 公告, 订阅通知]-->
            <if test="qo.notifyType != null">
                AND tn2.notify_type = #{qo.notifyType}
            </if>
        </where>
        ORDER BY tn2.created_at DESC
    </select>
    <update id="updateReadyAtNowByNotifyId">
        UPDATE t_notification
        SET read_at = NOW()
        WHERE notify_id = #{notifyId}
          AND receiver_id = #{receiverId}
    </update>
    <select id="selectListByReceiverIdAndNotifyType"
            resultType="in.hocg.eagle.modules.notify.entity.Notification">
        SELECT tn.*
        FROM t_notification tn
        LEFT JOIN t_notify tn2 on tn.notify_id = tn2.id
        WHERE tn.receiver_id = #{accountId}
        <if test="notifyType != null">
            AND tn2.notify_type = #{notifyType}
        </if>
        ORDER BY tn2.created_at DESC
        LIMIT 0,#{topNumber}
    </select>

</mapper>
