<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.eagle.modules.com.mapper.DistrictMapper">

  <delete id="removeAll">
    DELETE
    FROM com_district
    WHERE 1 = 1
  </delete>

  <select id="search" resultType="in.hocg.eagle.modules.com.entity.District">
    SELECT cd.*
    FROM com_district cd
  </select>

  <select id="selectChildrenByAdcode" resultType="in.hocg.eagle.modules.com.entity.District">
    SELECT cd.*
    FROM com_district cd
           LEFT JOIN com_district cd2 ON cd.parent_id = cd2.id
    WHERE cd2.ad_code = #{adcode}
  </select>
  <select id="getProvince" resultType="in.hocg.eagle.modules.com.entity.District">
    SELECT cd.*
    FROM com_district cd
    WHERE length(cd.tree_path) - length(replace(cd.tree_path, '/', '')) = 2
  </select>
  <select id="getCity" resultType="in.hocg.eagle.modules.com.entity.District">
    SELECT cd.*
    FROM com_district cd
    WHERE length(cd.tree_path) - length(replace(cd.tree_path, '/', '')) = 3
  </select>
  <select id="getCounty" resultType="in.hocg.eagle.modules.com.entity.District">
    SELECT cd.*
    FROM com_district cd
    WHERE length(cd.tree_path) - length(replace(cd.tree_path, '/', '')) = 4
  </select>
</mapper>
