<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.eagle.modules.mkt.mapper.CouponAccountMapper">

  <select id="paging" resultType="in.hocg.eagle.modules.mkt.entity.CouponAccount">
    SELECT mca.* FROM mkt_coupon_account mca
    <where>
      <if test="qo.accountId != null ">
        AND mca.account_id = #{qo.accountId}
      </if>
      <if test="qo.couponId != null ">
        AND mca.coupon_id = #{qo.couponId}
      </if>
    </where>
    ORDER BY mca.created_at DESC
  </select>
  <select id="selectListByAccountIdAndUsable" resultType="in.hocg.eagle.modules.mkt.entity.CouponAccount">
    SELECT mca.* FROM mkt_coupon_account mca
    <where>
      mca.use_status = 0
      <if test="userId != null ">
        AND mca.account_id = #{userId}
      </if>
    </where>
  </select>
</mapper>
